body {
  background: #fff;
  font-family: Arial;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.list {
  text-align: left;
  padding: 0;
}

.title {
  color: #445161;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  hyphens: auto;
}

/* header */

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 29px 50px 44px 47px;
  background-color: #445162;
}

.top-header__wrapper {
  margin-top: 10px;
}

.top-header__photo {
  margin-top: 21px;
}

.top-header__title {
  color:  #ffffff;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0;
}

.top-header__list {
  margin: 27px 0 0 0;
  line-height: 36px;
}

.top-header__item {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  list-style-type: none;
  padding: 0 0 0 40px;
  background: url("../img/check.svg") no-repeat left center;
}

.top-header__photo {
  background-color:  #ffffff;
  width: 469px;
  height: 214px;
}

/* about */

.about {
  padding: 44px 50px 48px;
  display: flex;
  justify-content: space-between;
}

.about__wrapper {
  width: 56%;
}

.about__text {
  margin: 25px 0 0;
}

.about__text:last-child {
  margin: 10px 0 0;
}

.about__photo {
  margin-top: 6px;
  width: 430px;
  height: 246px;
  background: #445161;
}

/* pluses */

.pluses {
  background: #f5f5f5;
  padding: 45px 50px 4px;
}

.pluses__title {
  text-align: center;
  margin-bottom: 10px;
}

.pluses__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
}

.pluses__item {
  width: 46%;
  padding: 0 0 0 41px;
  list-style-type: none;
  background: url("../img/plus.svg") no-repeat;
  background-position: 0px 4px;
  background-size: 32px auto;
  line-height: 22px;
  margin: 0 0 32px 0;
}

.pluses__item:nth-child(2n) {
  margin-left: 6px;
}

/* screenshots */

.screenshots {
  padding: 45px 50px 43px;
}

.screenshots__title {
  text-align: center;
  margin-bottom: 23px;
}

.screenshots__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.screenshot {
  margin: 0 0 8px 0;
  width: 50%;
  display: flex;
}

.screenshot__content {
  width: 61%;
  margin-left: 15px;
}

.screenshot__photo {
  margin-top: 4px;
  width: 200px;
  height: 150px;
  background: #445161;
}

.screenshot__title {
  font-size: 24px;
}

.screenshot__text {
  margin-top: 9px;
}

/* reviews */

.reviews {
  background: #f5f5f5;
  padding: 43px 50px 26px;
}

.reviews__title {
  text-align: center;
  margin-bottom: 29px;
}

.reviews__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.comment {
  width: 49%;
  display: flex;
  margin-bottom: 28px;
}

.comment:nth-child(2n) {
  margin-left: 10px;
}

.comment__wrapper {
  position: relative;
  width: 74%;
  background: #ebebeb;
  padding: 0 30px 10px 15px;
  margin: 0 0 0 27px;
  border-radius: 5px;
}

.comment__wrapper:after {
  content: '';
  position: absolute;
  left: -23px;
  top: 30px;
  border: 12px solid transparent;
  border-right: 12px solid #ebebeb;
}

.comment__photo {
  width: 76px;
  height: 76px;
  background: #445161;
  border-radius: 50%;
}

.comment__text {
  font-size: 14px;
  font-style: italic;
  line-height: 17px;
  margin-bottom: 10px;
}

.comment__author {
  color: #989898;
  font-size: 14px;
}

/* buy, price */

.buy {
  padding: 45px 145px 52px;
}

.buy__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.buy__title {
  text-align: center;
  margin-bottom: 28px;
}

.price {
  padding: 12px 0 19px;
  border-radius: 5px;
}

.price__title {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 13px 0;
}

.price__title, .price__list {
  color: #fff;
}

.price__list {
  font-size: 14px;
  padding-left: 36px;
  margin: 20px 0;
}

.price__item {
  margin-bottom: 8px;
}

.buy__price {
  width: 300px;
  background: #445162;
}

.price__number, .price__btn {
  color: #445162;
}

.price__number {
  display: block;
  background: #fff;
  width: 98%;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  padding: 10px 0;
}

.price__btn {
  display: block;
  text-transform: uppercase;
  border: none;
  background: #fff;
  width: 86%;
  outline: none;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
}

.price__btn:active {
  background: #445162;
  color: #fff;
}

/* contacts */

.contacts {
  background: #445162;
  padding: 47px 248px 50px;
}

.contacts__title {
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}

.contacts__wrapper {
  display: flex;
}

.contacts__form {
  width: 500px;
}

.contacts__input {
  padding: 11px 0 11px 10px;
}

.contacts__input, .contacts__textarea {
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
}

.contacts__textarea {
  resize: none;
  height: 173px;
  padding: 11px 10px;
}

.contacts__btn {
  display: block;
  margin: 0 auto;
  padding: 9px 47px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background: #fff;
  border-radius: 5px;
  color: #445162;
}

.contacts__btn:active {
  background: #445162;
  color: #fff;
}

.contacts__media {
  width: 280px;
  padding: 0 0 0 46px;
  box-sizing: border-box;
}

.contacts__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
  height: 27px;
  line-height: 27px;
  padding: 0 0 0 35px;
  margin: 0 0 17px 0;
}

.contacts__link:hover {
  color: #6887AD;
}

.skype {
  background: url("../img/skype.svg") no-repeat left center;
}
.icq {
  background: url("../img/icq.svg") no-repeat left center;
}
.mail {
  background: url("../img/at.svg") no-repeat left center;
}
.phone {
  background: url("../img/phone.svg") no-repeat left center;
}

.skype, .icq, .mail, .phone {
  background-size: 27px auto;
}

.social {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 0 0;
}

.social__link {
  text-decoration: none;
  background: #fff;
  color: #445162;
  font-size: 20px;
  display: block;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  text-align: center;
}
.twitter:hover, .facebook:hover, .linkedin:hover, .google:hover, .youtube:hover {
  color: #fff;
}

.twitter:hover {
  background: #1ca1f2;
}
.facebook:hover {
  background: #3a5a98;
}
.linkedin:hover {
  background: #108dcd;
}
.google:hover {
  background: #ea4335;
}
.youtube:hover {
  background: #ea4335;
}

/* footer */

.footer {
  background: #f5f5f5;
}

.footer__text {
  color: #445162;
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}