@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.video__bg {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
}

.container {
  height: 100%;
  width: 920px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
}

.header__menu {
  padding: 20px 0 0 0;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__item {
  margin: 0 20px 0 0;
  list-style-type: none;
}

.header__item:last-child {
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0 20px 0;
  text-align: center;
}

.header__link, .footer__link {
  text-decoration: none;
  font-size: 20px;
  color: #F2EFEA;
  display: block;
  padding: 5px 15px;
}

.header__link:hover, .footer__link:hover {
  color: #403D58;
}

.header__link:active, .footer__link:active {
  color: #FC7753;
}